body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

textarea{
	width: 16%;
	height: 50px;
}

#header{
	width: 100%;
	background: white;
	font-size: 3em;
}

	#loginInfo{
		position: fixed;
		top: 5px;
		right: 5px;
		font-size: 0.4em;
	}

	#logo{
		position: relative;
		top: 10px;
		left: 10px;
		padding-bottom: 10px;
	}
	
#navbar{
	width: 100%;
	background: #7ac943;
	text-align: center;
	font-size: 1.8em;
}
	
	#navbar ul{
		margin: 0;
		padding: 15px 0 15px 0;
	}
	
	#navbar a{
		color: black;
		text-decoration: none;
	}
	
	#navbar a:hover{
		color: black;
		text-decoration: underline;
	}

	#navbar li{
		display: inline;
		list-style-type: none;
		padding: 10px;
	}
	
	#navbar form{
		margin-top: 10px;
		margin-bottom: 0;
	}

#middleContainer{
	margin: auto;
	background: #d0d0d0;
	width: 1100px;
	padding: 10px;
}

	.gridItem{
		position: relative;
		width: 218px;
		height: 218px;
		background: black;
		border: 1px dashed grey;
		float:left;
		color: white;
	}
	
	.gridItem img{
		width: 100%;
		height: 100%;
	}
	
	.gridItem .text{
		text-align:center;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.6;
		filter: alpha(opacity=60); /* For IE8 and earlier */
		background: black;
	}
	
	.clear{
		clear:both;
	}
	
	#myProducts{
		width: 100%;
		border: 1px solid black;
	}
	
		#myProducts a{
			color: black;
		}
		
		#myProducts th{
			text-align:left;
			font-size: 1.2em;
			padding-bottom: 10px;
		}
	
	#newPro{
		margin: auto;
		width: 500px;
	}
	
		#newPro input[type="text"], #newPro input[type="number"], #newPro textarea{
			width: 500px;
		}
	
	#itemImg{
		width: 400px;
		float:left;
		border: 1px solid black;
		margin-right: 10px;
	}
	
	#desc{
		width: 600px;
	}
	
#cart{
	background: #eee;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 300px;
	border: 2px solid black;
}
	
	#cart sub{
		float: right;
		position: relative;
		right: 10px;
	}
	
	#cart ul{
		text-align:left;
	}
	
	#cart a{
		color: black;
	}
	
	#cartIcon{
		width: 50px;
		height: 50px;
		float:right;
	}


#checkout{
	width: 100%;
	border-collapse: collapse;
}

	#checkout a{
		color:black;
	}
	
	#checkout td, #checkout th{
		border: 1px solid black;
		padding: 5px;
	}
	
	#payBtn{
		padding: 5px;
	}
	
#footer{
	border-top: 1px dashed #222;
	background: #d0d0d0;
	width: 1100px;
	margin: auto;
	padding: 10px;
}